.btn-logout {
    margin: 0;
    padding: 0;
    width: 10%;
    background-color: white;
    color: black;
    border-radius: 10px;
    text-align: center;
    padding: 10px 15px;
    cursor: pointer;
    margin-left: 50px;
}

.metricas {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.grafico {
  width: 800px;
  border-radius: 5px;
  color: white;
}

.dash {
  border: 15px double;
  border-radius: 5px;
  margin: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.dash h3 {
  margin: 0 0 13px 0;
}

.usuario_logado {
  color: white;
  margin: 0 20px ;

}