/* configurando o navegador */
*, body, html {
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}

/* quando o ponteiro do mouse passa no link */
a:hover {
    color: black;
}

/* quando o link for selecionado */
a:active {
    color: black;
}

.header a {
    color: #ffffff;
}

.header a:visited {
     color: #ffffff;
 }

 /* quando o ponteiro do mouse passa no link */
.header a:hover {
     color: #ffffff;
 }

 /* quando o link for selecionado */
 .header a:active {
     color: #ffffff;
}

.footer a:visited {
    color: #ffffff;
}

/* quando o ponteiro do mouse passa no link */
.footer a:hover {
    color: #ffffff;
}

/* quando o link for selecionado */
.footer a:active {
    color: #ffffff;
}

/* configurando o navegador */

/* Aqui começa o header */
.header {
    background-color: black;
    
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-bottom: 20px;
}

.img_logo {
    height: 150px;
    margin-top: 15px;
    margin-right: 50px;
    border-radius: 2px;

}

.ipt_pesquisa {
    width: 600px;
    height: 40px;

    padding-left: 40px;
    border-radius: 10px;

}

.links {
    display: flex;
    
}

.nav-item {
    margin: 0 30px;
}

/* Aqui termina o header */



/* Aqui começa o Banner */
.banner {
    justify-content: center;
    height: 80%;
    width: 100%;

}

.banner a {
    color: #000000;
}

.categoria {
    height: 20px;
    width: 80%;
    display: flex;
    margin-top: 20px;
    margin-left: 100px;
    text-align: center;
    filter: drop-shadow(0px 0.5px 9px rgba(0, 0, 0, 0.5));
}


.banner-item {
    margin-right: 25px;
}

.titulo {
    justify-content: center;
    margin: auto;
    display: flex;    
}

.select_tops {
    font-size: 24px;
    font-weight: bold;
    padding: 1px;
    margin: auto;
    border: 0;
    text-align: center;    
    color: #000000;
}

.conteudo {
    align-items: center;
    margin-top: 10px;
    justify-content: center;
    justify-content: space-evenly;
    overflow: hidden;    
}

.conteudo .img_sessoes {
    display: flex;
    margin-bottom: 8px;
    max-width: 100%;
    cursor: pointer;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    border-radius: 2px;
    height: 140px;
    object-fit: contain;
}

.img_sessoes:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.primeira_linha {
    display: flex;
    justify-content: space-evenly;
}

.box {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.selecao {
    margin-left: 70px;
    margin-bottom: 10px;
}

.avaliacao {
    width: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.text_avaliacao {
    margin: auto;
    width: 70px;

}

.img_avaliacao {
    height: 20px;
    cursor: pointer;
}
/* Aqui termina o banner */

.footer {
    background-color: black;
    height: 150px;
    color: white;
}

.container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.div_ajuda {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.redes {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.redes a {
    display: flex;
    align-items: center;

}

.redes img {
    height: 30px;
    margin: 5px 10px ;
}
