*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
body{
    background-color: rgb(34, 34, 34);
    height: 100vh;
}

/* HEADER */
.header{
    height: 10vh;
    width: 100%;
    user-select: none;
}
.nav-bar{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.nav-list{
    height: 100%;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-list .fa-solid{
    color: white;
    cursor: pointer;
    transition: 0.7s;
}
.nav-list .fa-solid:hover{
    color: aqua;
}
.left-nav-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 220px;
}
.right-nav-items{
    display: flex;
    justify-content: space-between;
    width: 80px;
}
.right-nav-items .nav-item > span{
    cursor: pointer;
}
.right-nav-items .nav-item > span:hover i{
    color: aqua;
}
.nav-list a .nav-item{
    color: white;
    font-weight: 400;
}


/* MAIN_CONTAINER */
.main-container{
    margin: 3vh 1vw 3vh 1vw;
    height: fit-content;
    display: flex;
    justify-content: center;
}

/* SECTIONS */
.sections{
    width: 85%;
    height: fit-content;
    padding: 5px;
}

/* ASIDE NAV-BAR */
.navigation{
    position: fixed;
    top: 20%;
    left: 20px;
    bottom: 20%;
    width: 250px;
    border-radius: 12px;
    box-sizing: initial;
    border-left: 5px solid #02d8f0;
    transition: width 0.5s;
    background: #02d8f0;
    overflow-x: hidden;
}
.navigation.active{
    width: 70px;
}
.navigation ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 5px;
    padding-top: 40px;
}
.navigation ul li{
    position: relative;
    list-style: none;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}
.navigation ul li.active{
    background: #fff;
}
.navigation ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #fff;
}
.navigation ul li.active a{
    color: #333;
}
.navigation ul li b:nth-child(1)
{
    position: absolute;
    top: -20px;
    height: 20px;
    width: 100%;
    background: #fff;
    display: none;
}
.navigation ul li b:nth-child(1)::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 20px;
    background: #02d8f0;
}
.navigation ul li b:nth-child(2)
{
    position: absolute;
    bottom: -20px;
    height: 20px;
    width: 100%;
    background: #fff;
    display: none;
}
.navigation ul li b:nth-child(2)::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top-right-radius: 20px;
    background: #02d8f0;
}
.navigation ul li.active b:nth-child(1),
.navigation ul li.active b:nth-child(2){
    display: block;
}

.navigation ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}
.navigation ul li a .icon ion-icon{
    font-size: 1.5em;
}
.navigation ul li a .title{
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    white-space: normal;
}
.toggle{
    margin-bottom: 5vh;
    display: flex;
    justify-content: center;
}
.toggle.active{
    background: #7ac120;
}
.toggle i{
    position: absolute;
    color: #fff;
    font-size: 34px;
    display: none;
}
.toggle i.close,
.toggle.active i.open
{
    display: block;
}
.toggle i.open,
.toggle.active i.close
{
    display: none;
}
.container_navigation{
    width: 250px;
}