* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 13px;
    overflow-x: hidden;
}

header {
    height: 100px;
    background-color: #131515;
    color: #fff;
}

.header {
    max-width: 1140px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
}

 .logoimg img {
    width: 150px;
    height: 80px;
}

.logo {
    width: 100px;
}

.menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.menu ul,
.menu li {
    list-style-type: none;
    display: flex;
}

.menu ul {
    display: flex;
}

.menu li a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    padding-left: 10px;
    padding-right: 10px;
    height: 100px;
    display: flex;
    align-items: center;
    border-bottom: 5px solid #131515;

}

.menu li a:hover,
.menu .active a {
    border-bottom: 5px solid #02d8f0;
    color: #ccc;
    transition: 0.5s;
}

.banner{
    margin-top: 100px;
    display: flex;
}

.banner img {
    flex: 1;
    padding: 0 7vw;
}

.banner .banner_text {
    flex: 2;
    font-weight: 100;
    font-size: 50px;
    margin: 50px -20px;
}

.banner_text p {
    margin-top: 10px;
}

.border {
    margin-top: 10px;
    border-bottom: 5px solid #02d8f0;
    width: 90px;
}

.default {
    padding-top: 50px;
    padding-bottom: 50px;
}

.default .section-title,
.default .section-desc {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

.default .section-title {
    font-size: 20px;
}

.default .section-desc {
    font-size: 12px;
    color: #ccc;
    margin-top: 10px;
}

.default .section-body {
    max-width: 1140px;
    margin: auto;
    min-height: 100px;
}

.default.dark {
    background-color: #131515;
}

.default.dark .section-title {
    color: #fff;
}

.section-services {
    display: flex;
}

.section-service:first-child {
    border-left: 1px solid #333;
}

.section-service {
    flex: 1;
    text-align: center;
    margin-top: 25px;
    padding: 15px;
    border-right: 1px solid #333;
}

.section-service img {
    width: 60px;
}

.section-service h4 {
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 18px;
    color: #fff;
}

.section-service p {
    margin-top: 10px;
    font-size: 13px;
    color: #999;
}

.default.light {
    background-color: #fff;
}

.default.light .section-title {
    color: #000;
}

.section-aboutus {
    display: flex;
    margin-right: 50px;
}

.section-aboutus--left {
    margin-top: 60px;
    font-size: 15px;
    flex: 1;
    text-align: justify;
    text-justify: inter-word;
}

.section-aboutus--right {
    width: 500px;
}

.section-aboutus--right img { 
    height: 200px;
    padding: 0 50px;
}

#button {
    display: inline-block;
    background-color: #02d8f0;
    color: #000;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 30px;
    margin-top: 30px;
}

.section-project {
    display: flex;
    margin-right: 50px;
}

.section-project--left {
    margin-top: 60px;
    font-size: 15px;
    flex: 1;
    text-align: justify;
    text-justify: inter-word;
}

.section-project--left p {
    font-size: 45px;
}

.section-project--right {
    width: 500px;
}

.section-project--right img { 
    height: 200px;
    padding: 0 50px;
}

.section-invertproject {
    display: flex;
    margin-right: 50px;
}

.section-invertproject--left {
    margin-top: 60px;
    font-size: 15px;
    flex: 1;
    text-align: justify;
    text-justify: inter-word;
}

.section-invertproject--right p {
    font-size: 45px;
}

.section-invertproject--right {
    width: 500px;
}

.section-invertproject--left img { 
    height: 200px;
    padding: 0 50px;
}

/* SCROLL BAR MODIFICATION */

body::-webkit-scrollbar{
    width: 8px;
}
body::-webkit-scrollbar-track{
    background: #131515;
}
body::-webkit-scrollbar-thumb{
    background-color: #02d8f0;
    border-radius: 25px;
}